{{!-- partial created to use under the #if helper, so that the host of the race can enter the race winners, but can only be seen if the user is the host. --}}
<h1>Enter the Winners!</h1>

<form class="form winners-form" id="winners-form">
      <div class="form-group">
        <label for="gold-racer"> 1st Place:</label>
        <input class="form-input" type="number" min="1" max="20" id="gold-racer" name="gold-racer" />
      </div>
      <div class="form-group">
        <label for="silver-racer">2nd Place:</label>
        <textarea class="form-input" type ="number" min="1" max="20" id="silver-racer" name="silver-racer"></textarea>
      </div>
      <div class="form-group">
        <label for="bronze-racer">3rd Place:</label>
        <textarea class="form-input" type ="number" min="1" max="20" id="bronze-racer" name="bronze-racer"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id={{race_id}}>Submit!</button>
      </div>
    </form>

<script src="/js/winners.js"></script>