<!-- Loop over each object in the projects array -->

<ul class="list-group">
  {{#each race}}
  <li class="list-group-item">{{race_id}}<button class="btn btn-primary" id="join-btn">Join!</button></li>
  {{/each}}
</ul>