<h3>Patch Notes</h3>
<h4>1.0.1</h4>
<ul>
  Added Features
  <li>Profile page, where you can view your historical achievements</li>
  <li>Top 5 gold medalists</li>
  <li></li>
</ul>
<ul>
  Fixed minor bugs
  <li>Gold/Silver/Bronze Medalist banner should now appear only once in results page</li>
  <li>You can no longer view the race before you select a racer. No groupthink!</li>
  <li>Now deletes old races in anticipation of race id collisions</li>
</ul>