<h3>Achievements</h3>
<h4>Gold: {{user.gold}}</h4>
<h4>Silver: {{user.silver}}</h4>
<h4>Bronze: {{user.bronze}}</h4>

<button class="back-btn btn-primary btn justify-content-center" id="back-btn">Back to Race Homepage</button>

<script>
  document.querySelector('#back-btn').addEventListener('click', () => {document.location.href = "/"})
</script>